<% include partials/header %>

<div class="container">
    <span id="title">Delete</span><i class="fas fas fa-undo"></i>
    <p>Weet je zeker dat je item:<br> 
    <strong><%= item.item%></strong><br>
    wil verwijderen?</p>
    <form id="delete-form" action="/<%= item._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger btn-xs">Verwijderen</button>
    </form>
</div>
<% include partials/footer %>