<% include partials/header %>

    <div class="container">
        <span id="title">Things To Do</span> <i class="fas fa-plus-circle buttonHead float-right"></i>
        <hr>
        <ul>
            <% todos.forEach(todo => { %>
                <% if(currentUser && todo.owner.id.equals(currentUser._id)) { %>
                    <li>
                        <span class="task">
                            <% if (todo.priority === 1){  %>
                                <i class="fas fa-radiation-alt  prioHigh"></i>
                            <% } %>
                            <% if (todo.priority === 2){  %>
                                <i class="fas fa-exclamation-triangle prioHigh"></i>
                            <% } %>
                            <% if (todo.priority === 3){  %>
                                <i class="far fa-bell"></i>
                            <% } %>
                            <% if (todo.priority === 4){  %>
                                <i class="fab fa-angellist"></i>
                            <% } %>
                            <% if (todo.priority === 5){  %>
                                <i class="fas fa-couch"></i>
                            <% } %>
                            <%= todo.item %>
                        </span>
                        <i class="fas fa-trash-alt prioHigh float-right" id="<%= todo._id %>"></i>
                       <p class="description"><%= todo.description %></p> 
                    </li>
                <% }; %>
            <% }); %>
        </ul>
    </div>

<% include partials/footer %>