.container {
    width: 360px;
    margin: 50px auto;
    padding: 15px 15px;
    background: #f7f7f7;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),
        0 8px 16px -8px rgba(0,0,0,.3),
        0 -6px 16px -6px rgba(0,0,0,.025);
}

#title {
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

/* Buttons */
.fa-plus-circle {
    float: right;
    font-size: 3em;
}

.fa-undo {
    float: right;
    font-size: 3em;
}

.fa-trash-alt {
    float: right;
}

/* List */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Severity */
.prioHigh{
    color: red;
}

.completed {
    color: gray;
    text-decoration: line-through;
}